.elementor-column.elementor-col-10, .elementor-column[data-col="10"] {
    width: 10%; }
  .elementor-column.elementor-col-11, .elementor-column[data-col="11"] {
    width: 11.111%; }
  .elementor-column.elementor-col-12, .elementor-column[data-col="12"] {
    width: 12.5%; }
  .elementor-column.elementor-col-14, .elementor-column[data-col="14"] {
    width: 14.285%; }
  .elementor-column.elementor-col-16, .elementor-column[data-col="16"] {
    width: 16.666%; }
  .elementor-column.elementor-col-20, .elementor-column[data-col="20"] {
    width: 20%; }
  .elementor-column.elementor-col-25, .elementor-column[data-col="25"] {
    width: 25%; }
  .elementor-column.elementor-col-30, .elementor-column[data-col="30"] {
    width: 30%; }
  .elementor-column.elementor-col-33, .elementor-column[data-col="33"] {
    width: 33.333%; }
  .elementor-column.elementor-col-40, .elementor-column[data-col="40"] {
    width: 40%; }
  .elementor-column.elementor-col-50, .elementor-column[data-col="50"] {
    width: 50%; }
  .elementor-column.elementor-col-60, .elementor-column[data-col="60"] {
    width: 60%; }
  .elementor-column.elementor-col-66, .elementor-column[data-col="66"] {
    width: 66.666%; }
  .elementor-column.elementor-col-70, .elementor-column[data-col="70"] {
    width: 70%; }
  .elementor-column.elementor-col-75, .elementor-column[data-col="75"] {
    width: 75%; }
  .elementor-column.elementor-col-80, .elementor-column[data-col="80"] {
    width: 80%; }
  .elementor-column.elementor-col-83, .elementor-column[data-col="83"] {
    width: 83.333%; }
  .elementor-column.elementor-col-90, .elementor-column[data-col="90"] {
    width: 90%; }
  .elementor-column.elementor-col-100, .elementor-column[data-col="100"] {
    width: 100%; }